/* All CSS Plugins here */
.footer-text {
  font-size: 1.5rem;
}
.contact-icon {
  width: 24px;
  height: 24px;
}
.section__title {
  color: var(--secondary-color);
}
.section__title-small {
  font-size: 1.5rem;
}
.featured__best--selling__section.section--padding.pb-0 {
  padding-bottom: 0 !important;
}
.main__menu--link svg {
  margin-right: 5px;
}
.add__listing--btn svg {
  margin-left: 5px;
}
.side__menu--share__wrapper li {
  margin-right: 10px;
}
.side__menu--share__icon svg {
  width: 16px;
  height: 16px;
}
