
flask
flask-sqlalchemy
flask-login
flask-wtf
flask-bcrypt
folium
python-dotenv
flask-mail
flask-migrate
flask-cors
WTForms-Components
pillow
scikit-learn
pandas
numpy
xgboost
matplotlib
seaborn
flask-uploads