<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NewVilla - Real Estate HTML Template</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
   <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/plugins/glightbox.min.css">
  <link rel="stylesheet" href="assets/css/plugins/aos.css">

  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <div id="preloader">
       
 <div class="loader--border"></div>
    </div>
    <header class="header__section">
        <div class="header__sticky">
            <div class="container-fluid">
    
 <div class="main__header d-flex justify-content-between align-items-center">
                    <div class="offcanvas__header--menu__open ">
              
 <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" 
 stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
                            <span class="visually-hidden">Offcanvas Menu Open</span>
                
 </a>
                    </div>
                    <div class="main__logo">
   
 <h1 class="main__logo--title"><a class="main__logo--link" href="index.html">
                            
 <img class="main__logo--img" src="assets/img/logo/nav-log.png" alt="logo-img">
                        </a></h1>
                    </div>
     
 <div class="main__menu d-none d-lg-block">
                        <nav class="main__menu--navigation">
         
 <ul class="main__menu--wrapper d-flex">
                               
 <li class="main__menu--items">
                                    <a class="main__menu--link" href="./index.html"><svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    
 <path d="M5.5 0L0 4.125V11H3.72581V8.59381C3.72581 7.64165 4.51713 6.87506 5.5 6.87506C6.48287 6.87506 7.27419 7.64165 7.27419 8.59381V11H11V4.125L5.5 0Z" fill="#FA4A4A"/>
 
 </svg>
             
 Home 
                        
 <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 12 7.41">
                            
 <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                              
 </svg>
                                    </a>
      
 <ul class="sub__menu">
                     
 <li class="sub__menu--items"><a href="./index.html" class="sub__menu--link">Home - One</a></li>
                            
 <li class="sub__menu--items"><a href="./index-2.html" class="sub__menu--link">Home - Two</a></li>
                                   
 <li class="sub__menu--items"><a href="./index-3.html" class="sub__menu--link">Home - Three</a></li>
                                        <li class="sub__menu--items"><a 
 href="./index-4.html" class="sub__menu--link">Home - Four</a></li>
                                        <li class="sub__menu--items"><a href="./index-5.html" class="sub__menu--link">Home - Five</a></li>
    
 </ul>
                    
 </li>
                                <li class="main__menu--items">
       
 <a class="main__menu--link" href="./listing.html"> Listing </a>  
                 
 <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 12 7.41">
                         
 <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                               
 </svg>
                                    <ul class="sub__menu">
          
 <li class="sub__menu--items"><a href="./listing.html" class="sub__menu--link">Listing Left Sidebar</a></li>
                 
 <li class="sub__menu--items"><a href="./listing-right-sidebar.html" class="sub__menu--link">Listing Right Sidebar</a></li>
                        
 <li class="sub__menu--items"><a href="./listing.html" class="sub__menu--link">Listing Grig</a></li>
                                
 <li class="sub__menu--items"><a href="./listing-list.html" 
 class="sub__menu--link">Listing List</a></li>
                                        
 <li class="sub__menu--items"><a href="./listing-details.html" class="sub__menu--link">Listing Details</a></li>
                                    </ul>
            
 </li>
                                
 <li class="main__menu--items">
                                    <a class="main__menu--link" href="./admin/my-properties.html"> Properties </a>  
         
 </li>
                             
 <li class="main__menu--items">
                                    <a class="main__menu--link" href="./admin/dashboard.html"> Dashboard </a>  
      
 <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 12 7.41">
              
 <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                    
 </svg>
                                    
 <ul class="sub__menu">
                                        <li class="sub__menu--items"><a href="./admin/dashboard.html" class="sub__menu--link">Dashboard</a></li>
        
 <li class="sub__menu--items"><a href="./admin/create-listing.html" class="sub__menu--link">Creat Listing</a></li>
                
 <li class="sub__menu--items"><a href="./admin/chat.html" class="sub__menu--link">Chats</a></li>
                         
 <li class="sub__menu--items"><a href="./admin/my-favorites.html" class="sub__menu--link">My Favorites</a></li>
                                 
 <li class="sub__menu--items"><a href="./admin/my-properties.html" class="sub__menu--link">My Properties</a></li>
                                        <li 
 class="sub__menu--items"><a href="./admin/my-package.html" class="sub__menu--link">My Package</a></li>
                                        <li class="sub__menu--items"><a href="./admin/profile.html" class="sub__menu--link">My Profile</a></li>
     
 <li class="sub__menu--items"><a href="./admin/reviews.html" class="sub__menu--link">Reviews</a></li>
              
 <li class="sub__menu--items"><a href="./admin/saved-search.html" class="sub__menu--link">Saved Search</a></li>
                      
 <li class="sub__menu--items"><a href="./admin/settings.html" class="sub__menu--link">Setting</a></li>
                               
 </ul>
                                </li>
               
 <li class="main__menu--items">
                                  
 <a class="main__menu--link" href="./blog.html">News 
                                    </a>
           
 </li>
                               
 <li class="main__menu--items">
                                    <a class="main__menu--link" href="#"> Pages </a>  
        
 <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 12 7.41">
                
 <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                      
 </svg>
                                    <ul class="sub__menu">
 
 <li class="sub__menu--items"><a href="./about.html" class="sub__menu--link">About Us</a></li>
         
 <li class="sub__menu--items"><a href="./contact.html" class="sub__menu--link">Contact Us</a></li>
                 
 <li class="sub__menu--items"><a href="./project.html" class="sub__menu--link">Project</a></li>
                          
 <li class="sub__menu--items"><a href="./project-details.html" class="sub__menu--link">Project Details</a></li>
                                  
 <li class="sub__menu--items"><a href="./services-details.html" class="sub__menu--link">Services Details</a></li>
                                        <li class="sub__menu--items"><a 
 href="./login.html" class="sub__menu--link">Login</a></li>
                                        <li class="sub__menu--items"><a href="./sign-up.html" class="sub__menu--link">Sing Up</a></li>
       
 <li class="sub__menu--items"><a href="./404.html" class="sub__menu--link">Error 404</a></li>
               
 </ul>
                               
 </li>
                            </ul>
                       
 </nav>
                    </div>
                    <div class="main__header--right d-flex align-items-center">
        
 <a class="login__register--link" href="./login.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 
 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg> <span>Login / Register</span></a>
             
 <a class="add__listing--btn solid__btn" href="./admin/create-listing.html"><span>Add Listing</span> <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            
 <path d="M8 15.9992C12.4111 15.9992 16 12.4105 16 7.99962C16 3.58875 12.411 0 8 0C3.58901 0 0 3.58875 0 7.99962C0 12.4105 3.58901 15.9992 8 15.9992ZM4.19508 7.57155H7.57197V4.19439C7.57197 3.95805 7.76381 3.76636 8 3.76636C8.23634 3.76636 8.42804 3.95821 8.42804 4.19439V7.57155H11.8049C12.0413 7.57155 12.233 7.7634 12.233 7.99958C12.233 8.23592 12.0411 8.42762 11.8049 8.42762H8.42804V11.8046C8.42804 12.041 8.23619 12.2327 8 12.2327C7.76366 12.2327 7.57197 12.0408 
 7.57197 11.8046V8.42762H4.19508C3.95874 8.42762 3.76704 8.23577 3.76704 7.99958C3.76704 7.76324 3.9586 7.57155 4.19508 7.57155Z" fill="white"/>
                            </svg>
            
 </a>
                    </div>
                </div>
    
 </div>
        </div>
    </header>
    <div class="offcanvas__header">
        <div class="offcanvas__inner">
 
 <div class="offcanvas__logo">
                <a class="offcanvas__logo_link" href="./index.html">
                    <img src="assets/img/logo/nav-log.png" 
 alt="Logo-img" width="158" height="36">
                </a>
                <button class="offcanvas__close--btn" data-offcanvas>close</button>
            </div>
    
         
            <nav class="offcanvas__menu">
                <ul class="offcanvas__menu_ul">
              
 <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item" href="./index.html">Home</a>
                   
 <ul class="offcanvas__sub_menu">
                            <li class="offcanvas__sub_menu_li"><a href="./index.html" class="offcanvas__sub_menu_item">Home - One</a></li>
             
 <li class="offcanvas__sub_menu_li"><a href="./index-2.html" class="offcanvas__sub_menu_item">Home - Two</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./index-3.html" class="offcanvas__sub_menu_item">Home 
 - Three</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./index-4.html" class="offcanvas__sub_menu_item">Home - Four</a></li>
                  
 <li class="offcanvas__sub_menu_li"><a href="./index-5.html" class="offcanvas__sub_menu_item">Home - Five</a></li>
                        </ul>
             
 </li>
                    <li class="offcanvas__menu_li">
                        
 <a class="offcanvas__menu_item" href="./listing.html">Listing</a>
                        <ul class="offcanvas__sub_menu">
                         
 <li class="offcanvas__sub_menu_li"><a href="./listing.html" class="offcanvas__sub_menu_item">Listing Left Sidebar</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./listing-right-sidebar.html" class="offcanvas__sub_menu_item">Listing Right Sidebar</a></li>
           
 <li class="offcanvas__sub_menu_li"><a href="./listing.html" class="offcanvas__sub_menu_item">Listing Grig</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./listing-list.html" 
 class="offcanvas__sub_menu_item">Listing List</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./listing-details.html" class="offcanvas__sub_menu_item">Listing Details</a></li>
                   
 </ul>
                    </li>
                    
       
 <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="./admin/my-properties.html">Properties</a></li>
                    <li class="offcanvas__menu_li">
               
 <a class="offcanvas__menu_item" href="./admin/dashboard.html">Dashboard</a>
                        <ul class="offcanvas__sub_menu">
                
 <li class="offcanvas__sub_menu_li"><a href="./admin/dashboard.html" class="offcanvas__sub_menu_item">Dashboard</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./admin/create-listing.html" class="offcanvas__sub_menu_item">Creat Listing</a></li>
     
 <li class="offcanvas__sub_menu_li"><a href="./admin/chat.html" class="offcanvas__sub_menu_item">Chats</a></li>
                          
 <li class="offcanvas__sub_menu_li"><a href="./admin/my-favorites.html" class="offcanvas__sub_menu_item">My Favorites</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./admin/my-properties.html" class="offcanvas__sub_menu_item">My Properties</a></li>
              
 <li class="offcanvas__sub_menu_li"><a href="./admin/my-package.html" class="offcanvas__sub_menu_item">My Package</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./admin/profile.html" class="offcanvas__sub_menu_item">My Profile</a></li>
  
 <li class="offcanvas__sub_menu_li"><a href="./admin/reviews.html" class="offcanvas__sub_menu_item">Reviews</a></li>
                       
 <li class="offcanvas__sub_menu_li"><a href="./admin/saved-search.html" class="offcanvas__sub_menu_item">Saved Search</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./admin/settings.html" class="offcanvas__sub_menu_item">Setting</a></li>
            
 </ul>
                    </li>
                    
 <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="./blog.html">News</a></li>
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item" href="#">Pages</a>
  
 <ul class="offcanvas__sub_menu">
                            <li 
 class="offcanvas__sub_menu_li"><a href="./about.html" class="offcanvas__sub_menu_item">About Us</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./contact.html" class="offcanvas__sub_menu_item">Contact Us</a></li>
                 
 <li class="offcanvas__sub_menu_li"><a href="./project.html" class="offcanvas__sub_menu_item">Project</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./project-details.html" class="offcanvas__sub_menu_item">Project Details</a></li>
      
 <li class="offcanvas__sub_menu_li"><a href="./services-details.html" class="offcanvas__sub_menu_item">Services Details</a></li>
                          
 <li class="offcanvas__sub_menu_li"><a href="./login.html" class="offcanvas__sub_menu_item">Login</a></li>
                            <li class="offcanvas__sub_menu_li"><a href="./sign-up.html" class="offcanvas__sub_menu_item">Sing Up</a></li>
               
 <li class="offcanvas__sub_menu_li"><a href="./404.html" class="offcanvas__sub_menu_item">Error 404</a></li>
                        </ul>
           
 </li>
                </ul>
            </nav>
            <a class="add__listing--btn offcanvas__listing--btn 
 solid__btn" href="./admin/create-listing.html"><span>Add Listing</span> <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15.9992C12.4111 15.9992 16 12.4105 16 7.99962C16 3.58875 12.411 0 8 0C3.58901 0 0 3.58875 0 7.99962C0 12.4105 3.58901 15.9992 8 15.9992ZM4.19508 7.57155H7.57197V4.19439C7.57197 3.95805 
 7.76381 3.76636 8 3.76636C8.23634 3.76636 8.42804 3.95821 8.42804 4.19439V7.57155H11.8049C12.0413 7.57155 12.233 7.7634 12.233 7.99958C12.233 8.23592 12.0411 8.42762 11.8049 8.42762H8.42804V11.8046C8.42804 12.041 8.23619 12.2327 8 12.2327C7.76366 12.2327 7.57197 12.0408 7.57197 11.8046V8.42762H4.19508C3.95874 8.42762 3.76704 8.23577 3.76704 7.99958C3.76704 7.76324 3.9586 7.57155 4.19508 7.57155Z" fill="white"/>
             
 </svg>
            </a>
            <div class="side__menu--footer mobile__menu--footer">
                <div class="side__menu--info">
      
 <div class="side__menu--info__list">
                        <h3 class="side__menu--info__title">Customer Care Phone</h3>
          
 <p><a class="side__menu--info__text" href="tel:+1234567898">: (+123) 456-7898</a></p>
                    </div>
              
 <div class="side__menu--info__list">
                        <h3 class="side__menu--info__title">Need Live Support?</h3>
                  
 <p><a class="side__menu--info__text" href="mailto:example@example.com">Example@example.com</a></p>
                    </div>
                </div>
        
 <div class="side__menu--share d-flex align-items-center">
                    <h3 class="side__menu--share__title">Follow us :</h3>
                  
 <ul class=" side__menu--share__wrapper d-flex align-items-center">
                        <li class="side__menu--share__list">
                     
 <a class="side__menu--share__icon" target="_blank" href="https://www.facebook.com" rel="noopener">
                                <svg width="10" height="17" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
  
 <path d="M7.62891 8.625L8.01172 6.10938H5.57812V4.46875C5.57812 3.75781 5.90625 3.10156 7 3.10156H8.12109V0.941406C8.12109 0.941406 7.10938 0.75 6.15234 0.75C4.15625 0.75 2.84375 1.98047 2.84375 
 4.16797V6.10938H0.601562V8.625H2.84375V14.75H5.57812V8.625H7.62891Z" fill="currentColor"></path>
                                </svg>
                   
 <span class="visually-hidden">Facebook</span>
                            </a>
          
 </li>
                        <li class="side__menu--share__list">
             
 <a class="side__menu--share__icon" target="_blank" href="https://twitter.com" rel="noopener">
                                <svg width="16" 
 height="14" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.5508 2.90625C13.0977 2.49609 13.5898 2.00391 13.9727 1.42969C13.4805 1.64844 12.9062 
 1.8125 12.332 1.86719C12.9336 1.51172 13.3711 0.964844 13.5898 0.28125C13.043 0.609375 12.4141 0.855469 11.7852 0.992188C11.2383 0.417969 10.5 0.0898438 9.67969 0.0898438C8.09375 0.0898438 6.80859 1.375 6.80859 2.96094C6.80859 3.17969 6.83594 3.39844 6.89062 3.61719C4.51172 3.48047 2.37891 2.33203 0.957031 0.609375C0.710938 1.01953 0.574219 1.51172 0.574219 2.05859C0.574219 3.04297 1.06641 3.91797 1.85938 4.4375C1.39453 4.41016 0.929688 4.30078 0.546875 4.08203V4.10938C0.546875 5.50391 1.53125 6.65234 2.84375 
 6.92578C2.625 6.98047 2.35156 7.03516 2.10547 7.03516C1.91406 7.03516 1.75 7.00781 1.55859 6.98047C1.91406 8.12891 2.98047 8.94922 4.23828 8.97656C3.25391 9.74219 2.02344 10.207 0.683594 10.207C0.4375 10.207 0.21875 10.1797 0 10.1523C1.25781 10.9727 2.76172 11.4375 4.40234 11.4375C9.67969 11.4375 12.5508 7.08984 12.5508 3.28906C12.5508 3.15234 12.5508 3.04297 12.5508 2.90625Z" fill="currentColor"></path>
           
 </svg>
                               
 <span class="visually-hidden">Twitter</span>
                            </a>
                      
 </li>
                        <li class="side__menu--share__list">
                         
 <a class="side__menu--share__icon" target="_blank" href="https://www.instagram.com" rel="noopener" title="Instagram">
                                <svg width="16" height="16" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      
 <path d="M7.125 3.60547C5.375 3.60547 3.98047 5.02734 3.98047 6.75C3.98047 8.5 5.375 9.89453 7.125 9.89453C8.84766 9.89453 10.2695 8.5 10.2695 6.75C10.2695 5.02734 8.84766 3.60547 7.125 3.60547ZM7.125 8.80078C6.00391 8.80078 5.07422 7.89844 5.07422 6.75C5.07422 5.62891 5.97656 4.72656 7.125 4.72656C8.24609 4.72656 9.14844 5.62891 9.14844 6.75C9.14844 7.89844 8.24609 8.80078 7.125 8.80078ZM11.1172 3.49609C11.1172 3.08594 10.7891 2.75781 10.3789 2.75781C9.96875 2.75781 9.64062 3.08594 9.64062 3.49609C9.64062 3.90625 9.96875 4.23438 10.3789 4.23438C10.7891 4.23438 11.1172 3.90625 11.1172 3.49609ZM13.1953 4.23438C13.1406 3.25 12.9219 2.375 12.2109 1.66406C11.5 0.953125 10.625 0.734375 
 9.64062 0.679688C8.62891 0.625 5.59375 0.625 4.58203 0.679688C3.59766 0.734375 2.75 0.953125 2.01172 1.66406C1.30078 2.375 1.08203 3.25 1.02734 4.23438C0.972656 5.24609 0.972656 8.28125 1.02734 9.29297C1.08203 10.2773 1.30078 11.125 2.01172 11.8633C2.75 12.5742 3.59766 12.793 4.58203 12.8477C5.59375 12.9023 8.62891 12.9023 9.64062 12.8477C10.625 12.793 11.5 12.5742 12.2109 11.8633C12.9219 11.125 13.1406 10.2773 13.1953 9.29297C13.25 8.28125 13.25 5.24609 13.1953 4.23438ZM11.8828 
 10.3594C11.6914 10.9062 11.2539 11.3164 10.7344 11.5352C9.91406 11.8633 8 11.7812 7.125 11.7812C6.22266 11.7812 4.30859 11.8633 3.51562 11.5352C2.96875 11.3164 2.55859 10.9062 2.33984 10.3594C2.12109...
